/*!
 * This bootstrap was made by Hilder Brando Arrieta Ruiz
 */

 :root {
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #007bff;
  --secondary: #6c757d;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
  display: block;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #000000;
}

.bg_image {
  background-color:#000000 no-repeat center center fixed;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size:cover;
    width:100%;
    height:100%;
    position:fixed
}

.btn {
  display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col,
.col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm,
.col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md,
.col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg,
.col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl,
.col-xl-auto {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

.col-6 {
  margin-top: 7%;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}

h1, .h1 {
  font-size: 2.5rem;
}

.form-label {
  display: inline-block;
 font-weight: 400;
 color: #000000;
 text-align: center;
 vertical-align: middle;
 -webkit-user-select: none;
 -moz-user-select: none;
 -ms-user-select: none;
 user-select: none;
 background-color: transparent;
 border: 1px solid transparent;
 padding: 0.375rem 0.75rem;
 font-size: 1rem;
 line-height: 1.5;
 border-radius: 0.25rem;
 transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.mt-10 {
  margin-top: 7%;
}

.toast.showing {
  opacity: 1;
}

.toast.show {
  display: block;
  opacity: 1;
}

.toast.hide {
  display: none;
}

.toast-header {
  padding: 0.25rem 0.75rem;
  color: #6c757d;
  background-color: rgba(255, 255, 255, 0.85);
   box-shadow:0 0 15px #888;
 border:1px solid #cccccc;
    width:90%;
    height: 80%;
position:absolute;
   left:0;
   right:0;
   margin:auto;
   overflow-y:hidden;
   top: 3%;
transition: all 550ms ease-in-out 0s;

}
.infinite {
top:0;
  	animation: scroll 10s linear 1s infinite;}

@media only screen and (max-width: 320px) {
  .toast-header  {
    width:300;
    top: 29%;
  }
}

 @media only screen and (max-height: 320px){
   .toast-header  {
     top: 4%;
   }
 }

 @media only screen and (max-height: 360px){
   .toast-header  {
       top: 6%;
   }
 }

@media only screen and (max-width: 360px) {
  .toast-header  {
      top: 4%;
  }
}

@media only screen and (max-height: 411px){
  @media only screen and (max-width: 823px){
  .toast-header  {
      top: 17%;
  }}
}

@media only screen and (max-height: 414px){
  @media only screen and (max-width: 736px){
  .toast-header  {
      top: 17%;
  }
}
}

@media only screen and (min-width: 1024px){
  @media only screen and  (min-height: 768px){
  .toast-header  {
      width: 80%;
      top: 15%;
  }
}
}

@media only screen and (min-width: 1024px){
  @media only screen and  (min-height: 1366px){
  .toast-header  {
      width: 700;
      top:33.3%;
  }
}
}

@media only screen and (min-width: 1366px){
@media only screen and  (min-height: 1024px){
  .toast-header  {
      top:35%;
  }}
}

div.toast-title{
  font-size:1px;
   font-weight:400;
   margin:8px 0 1px;
   background-color:#000000;
   color:#FFFFFF;
   overflow-y:hidden;
   text-align:center
}

.toast-body {
  padding: 2rem;
}


.form-control {
  display: block;
  width: calc(100%);
  height: calc(1.5em + 0.5rem);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 0.1px solid #ced4da;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-auxiliar {
  display: block;
  width: calc(100%);
  height: 5.45rem;
  padding: 0.375rem 0.75rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 0.1px solid #ced4da;
  text-align: center;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.toast-header::after {
  content: "";
  clear: both;
  display: table-cell;
}

[class*="toast-header"] {
vertical-align: middle;
}

.form-control::-ms-expand {
  background-color: transparent;
  border: 0;
}

.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: #000000;
  outline: 0;
  box-shadow: 0 0 0 0.002rem rgba(0.46, 0.46, 0.46);
}

.form-control::-webkit-input-placeholder {
  color: #6c757d;
  opacity: 1;
}

.form-control::-moz-placeholder {
  color: #6c757d;
  opacity: 1;
}

.form-control:-ms-input-placeholder {
  color: #6c757d;
  opacity: 1;
}

.form-control::-ms-input-placeholder {
  color: #6c757d;
  opacity: 1;
}

.form-control::placeholder {
  color: #6c757d;
  opacity: 1;
}

.form-control:disabled, .form-control[readonly] {
  background-color: #e9ecef;
  opacity: 1;
}

select.form-control:focus::-ms-value {
  color: #495057;
  background-color: #fff;
}

.form-control-file,
.form-control-range {
  display: block;
  width: 100%;
}


.btn-primary {
  color: #fff;
  background-color: #122537;
}

.btn-primary:hover {
  color: #000;
  background-color: #ffffff;
  border-color: #ffffff;
}

.btn-secondary {
  color: #000;
}

.btn-secondary:hover {
  color: #000;
  background-color: #ffffff;
  border-color: #ffffff;
}

#imogen {
  display: none;
}

.barra {
    position: relative;
  color: #000;
  background-color: #ffffff;
  border-color: #ffffff;
  width: 100%;
		height:6%;
   padding-top: 4%;
   padding-bottom: 4%;
}

.barra:hover {
  background-color: #CCCCCC;
  border-color: #ffffff;
}

.fa {
  height:85%;
  margin-left: auto;
   margin-right: auto;
   display: block;
}

.float-left {
  float: left !important;
}

.float-right {
  float: right !important;
}

.float-bar {
  position: relative;
  top: 23%;
}

#central {
  height: 5000px;
}
#contenedor {
	width:200px;
		height:200px;
}
.loader,
.loader:before,
.loader:after {
  background: #FFF;
  -webkit-animation: load1 1s infinite ease-in-out;
  animation: load1 1s infinite ease-in-out;
  width: 3px;
  height: 0.1px;
}
.loader:before,
.loader:after {
  position: absolute;
  top: 0;
  content: '';
}
.loader:before {
  left: -1.5em;
}
.loader {
  text-indent: -9999em;
  margin: 25% auto;
  position: relative;
  font-size: 0.04px;
  -webkit-animation-delay: 0.16s;
  animation-delay: 0.16s;
}
.loader:after {
  left: 1.5em;
  -webkit-animation-delay: 0.32s;
  animation-delay: 0.32s;
}
@-webkit-keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0 #FFF;
    height: 2em;
  }
  40% {
    box-shadow: 0 -2em #ffffff;
    height: 2em;
  }
}
@keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0 #FFF;
    height: 1em;
  }
  40% {
    box-shadow: 0 -2em #ffffff;
    height: 2em;
  }
}
@keyframes scroll {
	100% { top: -1000px; }  /* top is the number of spans (in this case 8) multiplied by span height (45px as described above)*/
}
